{
	"env": {
		"browser": true,
		"node": true,
		"amd": true,
		"mocha": true
	},
	"plugins": [
      "mocha"
    ],
    "globals": {
	},
	"rules": {
		"quotes": [ 2, "single" ],
		"no-unused-vars": 2,
		"mocha/no-exclusive-tests": 2
	}
}
